go 1.26

use (
	./libs/config
	./libs/grpcserver
	./libs/httpserver
	./libs/observability
	./libs/proto
	./services/api-gateway
	./services/inventory-seat
	./services/notification
	./services/order
	./services/payment
	./services/ticket-query
	./services/ticketing
	./services/train-schedule
	./services/user
)
